<div class="container">
   <header class="header clearfix">
     <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          {{#if isAuthenticated}}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          {{/if}}
          
        </ul>
      </nav>
      <h3 class="text-muted">Grocery Price Tracker</h3>
    </header>
    <br>
    
    <h4>Successfully added <font color="DarkOrange">{{success_item}}</font>!</h4>
    
    <br>  
    <button type="button" class="btn btn-success" onclick="location.href='/store'">Back to store page</button>
    <button type="button" class="btn btn-primary" onclick="location.href='/store/newstore'">Add another store</button>
    <br>
</div>
